@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px auto auto 60px 1fr auto;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "main main main main main"
    "article article article";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  padding: 0.1rem;
  grid-area: nav;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 0.1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.2rem;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}

article {
  flex-basis: 30%;
  background-color: white;
  padding: 1rem;
  flex-grow: 1;
  margin: 0.5rem;
  min-width: 250px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(172, 247, 239);
}

button {
  color: white;
  font-weight: bold;
  margin: 0.1rem;
  padding: 0.2rem;
  background-color: rgb(57, 201, 186);
  box-shadow: 0 4px 10px rgb(172, 247, 239);
  border-radius: 0.2rem;
  float: right;
}

form {
  font-weight: bold;
  padding: 1.5rem;
  margin-left: 14%;
}
